@CHARSET "ISO-8859-1";

.tablecal {
	background-color: silver; 	
}

.cellday {
	background-color: white;
	font-family: sans-serif;
	color: #5F8BBF;
	text-align: right;
	height: 22px;
	width: 22px;
}

.cellday_today {
	background-color: graytext;
	font-family: sans-serif;
	color: white;
	text-align: right;
	height: 22px;
	width: 22px;
}

.celldays {
	background-color: #3F5C7F;
	font-family: sans-serif;
	color: white;
	text-align: center;
	height: 22px;
	width: 22px;
	font-size: small;
	text-decoration: none;	
}

.celldays_a {
	font-family: sans-serif;
	font-size: small;
	text-decoration: none;
	color: #3F5C7F;	
}

.cell_control {
	background-color: #3F5C7F;
	font-family: sans-serif;
	color: white;
	text-align: center;
	height: 22px;
	width: 22px;
	font-size: small;	
}

.calmain {
	background-color: white;
	border-style: solid;
	border-color: green;
	border-width: 1px;
}

